@use 'styles/base' as *;

.darkModeToggle {
	background: none;
	border: none;
	cursor: pointer;
	mix-blend-mode: difference;

	.icon {
		width: 4rem;
		height: 4rem;
		color: var(--color-white);
		@include transition(all, 0.3s, ease);

		&.isDark {
			transform: rotateY(0deg);
		}

		&.isLight {
			transform: rotateY(-180deg);
		}
	}

	&:hover .icon {
		color: var(--color-primary);
	}
}