@use 'styles/base' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  z-index: 999;
  pointer-events: none;
	@include transition(background-color, .3s, ease);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "KYOHEI MAEDA";
    font-family: "Anurati";
    font-weight: 900;
    font-size: 2rem;
    mix-blend-mode: difference;
    color: var(--color-white);
  }
}

.content {
  position: relative;
  z-index: 0;
}
