@use 'styles/base' as *;
@use 'styles/variables' as *;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  font-size: 62.5%;
  color: var(--color-text);
  background: var(--color-background);
  @include transition(background-color, .3s, ease-out)
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
	letter-spacing: .1em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// --------------------------------------------------
// Layout

.l-wrap {
  padding: 16rem 0 8rem;

  @include respond(md) {
    padding: 14rem 0 7rem;
  }

  @include respond(sm) {
    padding: 12rem 0 6rem;
  }
}

.l-inner {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.l-contents {
}


// --------------------------------------------------
// Components

.l-title {
	white-space: nowrap;
  font-size: 10rem;
	font-family: var(--font-outfit);
	font-weight: 800;
	letter-spacing: .2em;
	line-height: 1;
  margin-bottom: 10rem;

  @include respond(md) {
    font-size: 8rem;
  }
  
  @include respond(sm) {
    font-size: 6rem;
  }

  span {
    color: var(--color-primary);
  }
}