@use 'styles/base' as *;

.mouseFollower {
  pointer-events: none;
  position: fixed;
  top: -25px;
  left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  transform: translate(0, 0);
  transition: width 0.2s ease-out, height 0.2s ease-out;
  z-index: 9999;
  mix-blend-mode: difference;

  @include respond(md) {
    display: none;
  }
}

.hover {
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
}
