@use 'styles/base' as *;

.photoList {
  display: grid;
  gap: 4rem;
  list-style: none;
  padding: 0;
  margin: 0;
	grid-template-columns: repeat(auto-fill, minmax(clamp(150px, 20vw, 200px), 1fr));

	@include respond(sm) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.dragHandle {
	background: none;
	border: none;
	font-size: 4rem;

	svg {
		width: 4rem;
		height: 4rem;
	}
}