@use 'styles/base' as *;
@use 'styles/fonts';

.fv {
	position: relative;
	width: 100vw;
	height: 100svh;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	font-family: var(--font-outfit);
	gap: 0;
	z-index: 1;
}

.fvTexts {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	z-index: 2;
}

.fvTitle {
	font-size: 7vw;
	line-height: 1.5em;
	letter-spacing: .3em;
	font-weight: 800;
	font-family: var(--font-anurati);
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	position: relative;

	@include respond(md) {
		font-size: 10vw;
	}

	@include respond(sm) {
		font-size: 14vw;
	}

	&Line {
		@include glitch();
	}

	strong {
		color: var(--color-primary);
		font-weight: 800;
		@include transition(all, 0.3s, ease);
	}
}

.fvText {
	font-size: 2vw;
	font-weight: 900;
	letter-spacing: .38em;
	margin-left: -.4em;
	display: flex;
	gap: .5em;
	white-space: nowrap;

	strong {
		color: var(--color-primary);
		@include transition(all, 0.3s, ease);
		font-weight: 900;
		@include glitchColor();
	}

	@include respond(md) {
		font-size: 2.95vw;
	}

	@include respond(sm) {
		font-size: 4.15vw;
	}
}