@use 'styles/base' as *;

.section {
	position: relative;
	width: 100vw;
	height: 100svh;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	font-family: var(--font-outfit);
	gap: 0;
	z-index: 1;
}

.textGroup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	z-index: 2;
}

.title{
	font-size: 7vw;
	line-height: 1em;
	letter-spacing: .2em;
	font-weight: 800;

	@include respond(md) {
		font-size: 10vw;
	}

	@include respond(sm) {
		font-size: 14vw;
	}

	div {
		&:nth-of-type(2) {
			letter-spacing: .28em;
		}
	}

	strong {
		color: var(--color-primary);
		font-weight: 800;
		@include transition(all, 0.3s, ease);
	}
}

.text {
	font-size: 2.14vw;
	font-weight: 900;
	letter-spacing: .2em;
	margin-left: -.4em;

	strong {
		color: var(--color-primary);
		@include transition(all, 0.3s, ease);
		font-weight: 900;
	}

	@include respond(md) {
		font-size: 2.95vw;
	}

	@include respond(sm) {
		font-size: 4.15vw;
	}
}