.parallaxArea {
	position: absolute;
	top: 0;
	left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
	mix-blend-mode: difference;
  z-index: -1;
}

.parallaxItem {
  position: absolute;

  svg {
    width: 10rem;
    height: 10rem;
  }

  &:nth-child(1) {
    width: 100vw;
    height: 100vh;
    background: var(--color-primary);
    transition: all 0.5s linear 0.004s;
		opacity: .05;
  }

  // &:nth-child(2) {
  //   width: 90vw;
  //   height: 90vh;
  //   background: var(--color-primary);
  //   transition: all 0.3s linear 0s;
	// 	opacity: .05;
  // }

  // &:nth-child(3) {
  //   width: 80vw;
  //   height: 80vh;
  //   background: var(--color-primary);
  //   transition: all 0.3s linear 0s;
	// 	opacity: .05;
  // }

  // &:nth-child(4) {
  //   width: 70vw;
  //   height: 70vh;
  //   background: var(--color-background);
  //   transition: all 0.3s linear 0s;
	// 	opacity: 1;
  // }
}
