@use 'styles/base' as *;

.darkModeToggle {
	position: fixed;
	top: 10rem;
	right: 4rem;
	z-index: 1001;
	background: none;
	border: none;
	cursor: pointer;
	mix-blend-mode: difference;

	@include respond(md) {
		top: 9rem;
		right: 3rem;
	}

	@include respond(sm) {
		top: 8rem;
		right: 2rem;
	}

	svg {
		width: 4rem;
		height: 4rem;
		color: var(--color-white);
		@include transition(color, 0.3s, ease);
	}

	&:hover svg {
		color: var(--color-primary);
	}
}