@use 'styles/base' as *;

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

.copyright {
	text-align: center;
	font-size: 1.2rem;
	font-family: var(--font-outfit);
	font-weight: 600;
	letter-spacing: .2em;
}